@import "tailwindcss";

* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

body {
  background-color: rgba(8, 8, 8, 0.889);
  color: #fff;
}
.padding {
padding:5px;
}
.margin {
  margin:5px
}
.paddingX{
padding:15px 0 15px 0;
}
.marginX {
  margin:15px 0 15px 0;
}
.margintop{
  margin: 50px;
}
.ambient-blue-cyan {
  background: linear-gradient(135deg, #007bff, #027676);
  box-shadow:
    0 0 20px rgba(0, 123, 255, 0.2),
    0 0 40px rgba(0, 255, 255, 0.3),
    0 0 60px rgba(0, 255, 255, 0.2);
  border-radius: 12px;
  padding: 20px;
  color: white;
}
.card-border {
  border: 2px solid rgba(2, 37, 75, 0.5);
  border-radius: 12px;
  padding: 20px;
}